<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  [routerLink]="['/home']">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<br>
<div class="newValoracion">
    <form  (ngSubmit)="onSubmit()" #servicioForm="ngForm">
        <div class="div-section mb-3">
          <label class="form-label" for="name">Limpieza</label>
          <input 
            type="number" 
            id="limpieza" 
            required 
            [(ngModel)]="model.limpieza" 
            name="limpieza">
        </div>

        <div class=" div-section mb-3">
          <label class="form-label" for="name">Simpatia</label>
          <input 
            type="number" 
            id="simpatia" 
            required 
            [(ngModel)]="model.simpatia" 
            name="simpatia">
        </div>
        <div class=" div-section mb-3">
          <label class="form-label" for="name">Calidad/Precio</label>
          <input type="number" 
            required id="calidad_precio"  
            [(ngModel)]="model.calidad_precio" 
            name="calidad_precio">
        </div>
        <div class=" div-section mb-3">
          <label class="form-label" for="name">Sabor</label>
          <input 
            type="number" 
            id="sabor" 
            required 
            [(ngModel)]="model.sabor"
            name="sabor">
        </div>
        <div class=" div-section mb-3">
          <label class="form-label" for="name">Diseno</label>
          <input 
            type="number" 
            id="diseno" 
            required 
            [(ngModel)]="model.diseno" 
            name="diseno">
        </div>
        <br>
        <div class=" div-section mb-3">
          <button type="submit" class="btn btn-success">Crear Valoracion</button>
        </div>
    </form>
    <br>
    <h3> {{mensaje}}</h3>
</div>
