<a [routerLink]="['/home']">Home</a>
<br>
<h3> {{mensaje}}</h3>
<form (ngSubmit)="onSubmit()" #servicioForm="ngForm">
    <div class="form-group">
     <label for="name">Limpieza</label>
     <input type="number" class="form-control" id="limpieza" required [(ngModel)]="model.limpieza" name="limpieza">
    </div>

    <div class="form-group">
        <label for="name">Simpatia</label>
        <input type="number" class="form-control" id="simpatia" required [(ngModel)]="model.simpatia" name="simpatia">
    </div>
    <div class="form-group">
        <label for="name">Calidad_precio</label>
        <input type="number" class="form-control" required id="calidad_precio"  [(ngModel)]="model.calidad_precio" name="calidad_precio">
    </div>
    <div class="form-group">
        <label for="name">Sabor</label>
        <input type="number" class="form-control" id="sabor" required [(ngModel)]="model.sabor" name="sabor">
    </div>
    <div class="form-group">
        <label for="name">Diseno</label>
        <input type="number" class="form-control" id="diseno" required [(ngModel)]="model.diseno" name="diseno">
    </div>
    
    <button type="submit" class="btn btn-success">Crear Valoracion</button>

</form>
