<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/home']">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="register">
    <br> 
    <form class="custom-form" method="post">
      <h1>Editar Perfil</h1>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Nombre Usuario</label>
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Nombre Usuario"
        required="required"
      />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        placeholder="Nombre"
        required="required"
      />
      </div>
      
      <div class="mb-3">
        <label for="lastname" class="form-label">Apellido</label>
      <input
        type="text"
        [(ngModel)]="lastname"
        name="lastname"
        placeholder="Apellido"
        required="required"
      />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
      <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required="required"
    />
      </div>
      <h1> {{mensaje}}</h1>
      <button class="btn btn-success" type="submit" (click)="editar()">Confirmar cambios</button>
      
    </form>
  </div>