<a [routerLink]="['/home']">Home</a>
<h1>Mis reservas para el servicio</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Informacion</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Mail</th>
        <th scope="col">Telefono</th>
        <th scope="col">Forma de Pago</th>
        <th scope="col">Estado</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas; index as i">
        <td>{{reserva.informacion}}</td>
        <td>{{reserva.descripcion}}</td>
        <td>{{reserva.mail}}</td>
        <td>{{reserva.telefono}}</td>
        <td>{{formaPagos[i].forma_pago}}</td>
        <td>
          <div>
            {{estados[i].estado}} 
            <div *ngIf="estados[i].estado=='Rechazada' || estados[i].estado=='Pendiente'">
              <button (click)="editarEstado(estados[i].id, 'Aceptada')">Aceptar</button>
            </div>
            <div *ngIf="estados[i].estado=='Aceptada' || estados[i].estado=='Pendiente'">
              <button (click)="editarEstado(estados[i].id, 'Rechazada')">Rechazar</button>
            </div>
            <br>
            <div *ngIf="estados[i].estado=='Aceptada'">
              <button  (click)="editarEstado(estados[i].id, 'Confirmada')">Confirmar</button>
            </div>
         </div>
        </td>
       
      </tr>
      
    </tbody>
  </table>
