<nav>
    
    <a [routerLink]="['/servicios']">Mis servicios</a>
    <br>
    <a [routerLink]="['/nuevoServicio']">Nuevo servicio</a>
    
    <br>
    <a [routerLink]="['/editar']">Editar perfil</a>
    <br>
    <a [routerLink]="['/reservas']">Mis reservas</a>
    <button type="submit" (click)="logOut()">Cerrar sesion</button>

</nav>
<br>

<form class="custom-form" method="get">
  <input
    [(ngModel)]="filtroTipo"
    type="text"
    name="filtrotipo"
    placeholder="Tipo para filtrar"
    required="required"
  />
  
  <button type="submit" (click)="filtrarServiciosPorTipo()">Filtrar por tipo</button>
  <button type="submit" (click)="resetearTabla()">Resetear</button>
  
</form>
<br>

<form class="custom-form" method="get">
  <input
    [(ngModel)]="filtroNombre"
    type="text"
    name="filtroNombre"
    placeholder="Nombre para buscar"
    required="required"
  />
  
  <button type="submit" (click)="buscarServiciosPorNombre()">Buscar por nombre</button>
  <button type="submit" (click)="resetearTabla()">Resetear</button>
  
</form>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">URL</th>
        <th scope="col">ver</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of servicios">
        <td>{{servicio.nombre}}</td>
        <td>{{servicio.tipo}}</td>
        <td>{{servicio.descripcion}}</td>
        <td>{{servicio.url}}</td>
        <button (click)="reservarServicio(servicio.id)">ver</button>
      </tr>
      
    </tbody>
  </table>
